@import "../../stylesheets/sass/utilities/initial-variables";

.loginBox {
    height: 80%;
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.5);
    padding: 1rem;
    margin: 1rem;
}

.is-black {
    color: #000 !important;
}

.login-button {
    margin-top: 0.8rem;
    margin-bottom: 0.2rem;
    width: 100%;
}

.is-grey {
    color: $grey !important;
}

.register-link {
    font-size: $size-7;

    &:hover {
        text-decoration: underline;
    }

}

.hero-body {
    align-items: flex-start !important;
}

.container {
    margin-top: 6rem !important;
}